DBT_PROFILES_DIR=.
DBT_TARGET=snowflake
DBT_SCHEMA=dbt_sriram
SNOWFLAKE_ACCOUNT=myorg-myaccount
SNOWFLAKE_USER=DBT_SVC
SNOWFLAKE_PRIVATE_KEY_PATH=C:/path/to/rsa_key.p8
SNOWFLAKE_PRIVATE_KEY_PASSPHRASE=
SNOWFLAKE_ROLE=TRANSFORMER
SNOWFLAKE_WAREHOUSE=TRANSFORMING
